<nav id=menu-wrapper>
    <div id="site-title">
        <h1>Some Person</h1>
        <hr />
        <h2>Photography</h2>
    </div>

    <ul id="main-nav">
        <li><a href="#">Home</a></li>
        <li id="projects-nav">Projects
            <ul id="projects-sub-nav">
                <li><a href="#shad">Shadows</a></li>
                <li><a href="#wild">Wild West</a></li>
            </ul>
        </li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>
