#main-content{
    height: 1000px;
    flex: 3;
}

#image-wrapper{
    position: relative;
    border: 1px solid red;
    width: 630px;
    margin: 50px auto 0 auto;
}

#large-image{
    position: absolute;
    img{
        display: block;
        position: absolute;
        width: 470px;
        opacity: 0;
        transition: opacity 1s;
    }

    .active-image{
        opacity: 1;
    }
}

#small-image{
    position: absolute;
    right: 0;

    .image-overlay{
        position: relative;
        max-height: 150px;
        &:not(:last-of-type){
            margin-bottom: 10px;
        }
        &:hover > .inner-gradient{
            opacity: 0;
            transition: opacity 0.5s;
        }
    }
    .inner-gradient{
        position: absolute;
        z-index: 1;
        opacity: 1;
        transition: opacity 0.5s;
        min-height: 150px;
        min-width: 150px;
        background: linear-gradient(rgba(34, 198, 124, 0.3), rgba(34, 198, 124, 0.3));
    }
}
