/* COLOUR VARIABLES */


/********************/

/* FONT VARIABLES */

$mainFontStyle: 'Josefin Sans', sans-serif;
$mainFontSize: 20px;

/******************/


/* FULL ELEMENT SELECTORS */

*{
    box-sizing: border-box;
}

body{
	font-family: $mainFontStyle;
	font-size: $mainFontSize;
	background-color: #f9f9f9;
    color: #989797;
    margin-top: 30px;
}

hr{
    margin: 8px auto 0 auto;
    border: 0;
    height: 1px;
    background-image: linear-gradient(left, #f0f0f0, #989797, #f0f0f0);
}

h1{
    margin: 0;
    padding: 0;
}

a{
	text-decoration: none;
    &:link{
        color: currentColor;
    }
    &:visited{
        color: currentColor;
    }
}

h1{
    letter-spacing: 0.5px;
}
p{
    //letter-spacing: 0.5px;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

li{
    letter-spacing: 0.5px;
}

article,
figure{
    margin: 0;
    padding: 0;
}

button{
    border: none;
    background-color: transparent;
    &:focus{
        outline: 0;
    }
}

/* MAX WIDTH OF SITE */
.site-width{
	max-width: 1140px;
}
/**************************/

/* CLEAR FLOATS CLASS */
.clear-float{
    content: "";
    clear: both;
}
/**************************/

/* STYLING FOR MAIN PAGE CONTAINER */
#page-container{
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
}
/**************************/

/* MAIN CONTENT SECTION STYLING */
#main-content{
    //padding: 0 20px;
    height: 700px;
    //border: 1px solid red;
    flex: 3;
}
/**************************/
