#aside-wrapper{
    display: flex;
    flex-direction: column;
    flex: 1;

    #site-title{
        flex: 1;
        h1, h2{
            font-size: 95%;
            font-weight: 600;
            text-align: center;
        }
        h2{
            margin-top: 8px;
        }
        hr{
            width: 20%;
        }
    }

    #main-nav{
        flex: 10;
    }

    #nav-list{
        display: block;
        margin-top: 10px;
        text-align: center;
        li{
            margin-bottom: 2px;
        }
    }

    #projects-nav{
        cursor: pointer;
    }

    #projects-sub-nav{
        display: none;
        margin: 12px 0;
        font-size: 90%;
        li{
            cursor: pointer;
        }
    }

    #project-thumbnails{
        flex: 30;
        #thumbnail-wrapper{
            margin: 0 auto;
            text-align: center;
            h3{
                font-size: 90%;
                margin-bottom: 0;
            }
            p{
                margin-top: 10px;
            }
        }
    }

    #thumbnails{
        margin-left: 5px;
        img{
            top: 0;
            left: 0;
            width: 60px;
            height: 60px;
            background-color: rgba(152, 151, 151, 0.1);
            animation: colorchange 5s infinite;
            -webkit-animation: colorchange 5s infinite;
            margin-right: 5px;
            transition: box-shadow 0.3s;
            &:hover{
                box-shadow: 0px 0px 2px 1px rgba(91, 91, 91, 1);
                transition: box-shadow 0.3s;
            }
        }
    }

    // #aside-contact-info{
    //     flex: 30;
    //     text-align: center;
    //
    //     h4{
    //         font-weight: 300;
    //         margin-bottom: 10px;
    //     }
    //
    //     #social-icons{
    //         li{
    //             display: inline;
    //             font-size: 110%;
    //             &:not(:last-of-type){
    //                 margin-right: 10px;
    //             }
    //         }
    //     }
    // }
}

#menu-icon{
    display: none;
    cursor: pointer;
    margin: 0 auto;

    div{
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin: 4px 0;
        transition: all 0.3s;
    }
    #icon-bar1.change{
        transform: rotate(-45deg) translate(-3px, 5px);
    }
    #icon-bar2.change{
        opacity: 0;
    }
    #icon-bar3.change{
        transform: rotate(45deg) translate(-3px, -5px) ;
    }

}

@keyframes colorchange{
  0%   {background-color: rgba(152, 151, 151, 0.1);}
  20%  {background-color: rgba(152, 151, 151, 0.3);}
  40%  {background-color: rgba(152, 151, 151, 0.6);}
  60%  {background-color: rgba(152, 151, 151, 0.9);}
  80%  {background-color: rgba(152, 151, 151, 0.6);}
  100%  {background-color: rgba(152, 151, 151, 0.3);}
}

@-webkit-keyframes colorchange{
  0%   {background-color: rgba(152, 151, 151, 0.1);}
  20%  {background-color: rgba(152, 151, 151, 0.3);}
  40%  {background-color: rgba(152, 151, 151, 0.6);}
  60%  {background-color: rgba(152, 151, 151, 0.9);}
  80%  {background-color: rgba(152, 151, 151, 0.6);}
  100%  {background-color: rgba(152, 151, 151, 0.3);}
}
