#aside-wrapper{
    display: flex;
    flex-direction: column;
    //justify-content: center;
    border: 1px solid blue;
    height: 1000px;
    flex: 1;

    #site-title{
        flex: 1;
        border: 1px solid firebrick;
        h1, h2{
            font-size: 95%;
            font-weight: 600;
            //text-transform: uppercase;
            text-align: center;
        }
        h2{
            margin-top: 8px;
        }
        hr{
            width: 20%;
        }
    }

    #main-nav{
        flex: 10;
        border: 1px solid firebrick;
    }

    #nav-list{
        margin-top: 10px;
        text-align: center;
        li{
            margin-bottom: 2px;
        }
    }

    #projects-nav{
        cursor: pointer;
    }

    #projects-sub-nav{
        display: none;
        margin: 12px 0;
        font-size: 90%;
        li{
            cursor: pointer;
        }
    }

    #project-thumbnails{
        flex: 30;
        border: 1px solid firebrick;
    }



}
