#menu-wrapper{
    border: 1px solid blue;
    height: 400px;
    flex: 1;

    #site-title{
        h1, h2{
            font-size: 95%;
            font-weight: 600;
            //text-transform: uppercase;
            text-align: center;
        }
        h2{
            margin-top: 8px;
        }
        hr{
            width: 20%;
        }
    }

    #main-nav{
        margin-top: 40px;
        text-align: center;;
        li{
            margin-bottom: 2px;
        }
    }

    #projects-sub-nav{
        display: none;
        margin: 12px 0;
        font-size: 90%;
    }



}
