#project-wrapper{
    position: relative;
    width: 640px;
    height: 640px;
    margin: 50px auto 0 auto;
    overflow: hidden;
    &:hover > .hero-image-caption{
        opacity: 1;
        transition: opacity 0.3s;
    }
}

#loading-spinner{
    display: none;
    position: absolute;
    border: 1px solid red;
    width: 100%;
    height: 640px;
    background-image: url('../images/small-spinner.gif');
    background-repeat: no-repeat;
    background-position: center center;
}

.hero-image-caption{
    position: absolute;
    bottom: 0;
    background: linear-gradient(rgba(91, 91, 91, 0.7), rgba(91, 91, 91, 0.7));
    width: 100%;
    height: 80px;
    color: #e6e6e6;
    padding: 8px 10px;
    opacity: 0;
    transition: opacity 0.3s;
    a{
        display: block;
        transition: all 0.3s;
        &:hover{
            transform: translateX(2px);
            transition: all 0.3s;
        }
    }
}
