<div id="main-content">
    <div id="image-wrapper">
        <div id="large-image">
            <img src="{{base}}/assets/images/large/large640_1.jpg" data-altsrc="{{base}}/assets/images/small/small150_1.jpg" alt="main home image" />
        </div>
        <div id="small-image">
            <img src="{{base}}/assets/images/small/small150_2.jpg" data-altsrc="{{base}}/assets/images/large/large640_2.jpg" alt="small image" />
            <img src="{{base}}/assets/images/small/small150_3.jpg" data-altsrc="{{base}}/assets/images/large/large640_3.jpg" alt="small image" />
            <img src="{{base}}/assets/images/small/small150_4.jpg" data-altsrc="{{base}}/assets/images/large/large640_4.jpg" alt="small image" />
        </div>
    </div>
</div>
