<main id="main-content">
    <div id="image-wrapper">
        <div id="large-image">

            {% assign largeImage = site.data.contentful.spaces.posts.homePageImages[0].heroImage %}

            <img src="assets/images/home/{{ largeImage.title }}.jpg" alt="{{ largeImage.description }}" class="active-image"/>

            {% for thumbs in site.data.contentful.spaces.posts.homePageImages[0].thumbnailImages %}
                <img src="assets/images/home/{{ thumbs.title }}.jpg" alt="{{ thumbs.description }}" />
            {% endfor %}

        </div>
        <div id="small-image">

            {% for thumbs in site.data.contentful.spaces.posts.homePageImages[0].thumbnailImages %}
                <div class="image-overlay">
                    <div class="inner-gradient" data-imgsrc="assets/images/home/{{ thumbs.title }}.jpg"></div>
                    <img src="assets/images/home/{{ thumbs.title }}.jpg" alt="{{ thumbs.description }}" />
                </div>
            {% endfor %}

        </div>
    </div>
</main>
